Babel==2.4.0
Flask==0.12.1
Flask-Babel==0.11.1
Flask-Login==0.4.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
Jinja2==2.9.5
MarkupSafe==1.0
SQLAlchemy==1.1.8
WTForms==2.1
Werkzeug==0.12.1
click==6.7
itsdangerous==0.24
psycopg2==2.7.1
pytz==2017.2
wheel==0.24.0
wsgiref==0.1.2
