
.message{
  display: none;
  color: white;
  text-align: center;
  padding: .5em;
}

.message.success{
  display: block;
  background: green;
}

.message.failure{
  display: block;
  background: red;
}