body {
 font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive;
}

.space-left{
	margin-left: .1em;
}

.header-image{
	background: #4a2b55
}

.map {
    height: 400px;
    width: 100%;
}

.maps-container{
	margin-top: 1em;
}

.gift-register .alert{
	display: none;
}

.gift-register .row{
	margin-bottom: .5em;
}

.featurette {
	padding-top:50px;
	margin-top:-50px;
}