<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eero & Pilvi 2017</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="static/css/one-page-wonder.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ gettext('Wedding') }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#location">{{ gettext('Location') }}</a>
                    </li>
                    <li>
                        <a href="#rsvp"> {{ gettext('RSVP') }}</a>
                    </li>
                    <li>
                        <a href="#gift-register"> {{ gettext('Gift register') }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/fi">{{gettext('Suomeksi')}}</a></li>
                    <li><a href="/en">{{gettext('English')}}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>{{ gettext('Eero & Pilvi 2017') }}</h1>
                <h2>{{ gettext('Welcome!') }}</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="location">
            <img class="featurette-image img-circle img-responsive pull-right" src="static/img/church.jpg">
            <h2 class="featurette-heading">{{ gettext('Location') }}
            </h2>
            <p class="lead">{{gettext('The wedding ceremony will take place at Temppeliaukio Church in Helsinki, at address Lutherinkatu 3. The wedding reception is held at Restaurant Sipuli in Helsinki, at address Kanavaranta 7.')}}</p>
            <p class="lead">{{gettext('Shared transportation from the church to the reception has been arranged. You are very welcome to join us with a car. Please note however, that there are limited parking opportunities at the restaurant available.')}}</p>
            
        </div>
        <div class="container maps-container">
            <div class="maps row">
                <div class="col-sm-6">
                    <h2>{{gettext('Temppeliaukio Church')}}</h2>
                    <div id="mapChurch" class="map"></div>
                </div>
                <div class="col-sm-6">
                    <h2>{{gettext('Restaurant Sipuli')}}</h2>
                    <div id="mapRestaurant" class="map"></div>
                </div>
            </div>    
        </div>
        <hr class="featurette-divider">

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="rsvp">
            <h2 class="featurette-heading"> {{ gettext('RSVP') }}
            </h2>
            <p class="lead">{{ gettext('Fill the form below so we know that you\'re coming! Please let us know latest on Sunday 18.6.') }}</p>
            <p>{{gettext('Please additionally indicate any allergies or special diets or any additional special requests you might have. If you wish to give a speech or a performance at the wedding, you can specify that below or by being in contact with the bestman or the maid of honor.')}}</p>
            <dl class="dl-horizontal">
                <dt>{{gettext('Best man')}}</dt>
                <dd>Olli Niskanen +358 40 575 9847</dd>
                <dt>{{gettext('Maid of Honor')}}</dt>
                <dd>Maija Joki-Korpela +358 44 572 4229</dd>
            </dl>
            <div class="alert rsvp-alert"></div>
            <form id="rsvp-submit" action="rsvp" method="POST">
                    <div id="name-group" class="form-group">
                        <label for="name">{{ gettext('Name') }}</label>
                        <input type="text" class="form-control" name="name" placeholder="{{ gettext('Name') }}">
                    </div>
                    <div id="email-group" class="form-group">
                        <label for="email">{{ gettext('Email') }}</label>
                        <input type="email" class="form-control" name="email" placeholder="{{ gettext('Email') }}">
                    </div>
                    <div id="count-group" class="form-group">
                        <label for="count">{{ gettext('Number of quests') }}</label>
                        <input type="number" class="form-control" name="count" placeholder="{{ gettext('Number of guests') }}">
                    </div>
                    <div id="allergies-group" class="form-group">
                        <label for="allergies">{{ gettext('Allergies') }}</label>
                        <textarea name="allergies" class="form-control"></textarea>
                    </div>
                    <div id="program-requests-group" class="form-group">
                        <label for="program-requests">{{ gettext('Program requests') }}</label>
                        <textarea name="program-requests" class="form-control"></textarea>
                    </div>
                    <div id="requests-group" class="form-group">
                        <label for="requests">{{ gettext('Other special requests') }}</label>
                        <textarea name="requests" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ gettext('Register') }}</button>
                </form>
        </div>

        <div class="featurette" id="gift-register">
            <h2 class="featurette-heading"> {{ gettext('Gift Register') }}
            </h2>
            <p class="lead">{{gettext('If you wish to give a wedding gift, you can help fund our honeymoon at FI67 5800 1320 2839 54. Additionally, we have compiled a gift list, which you can find below')}}</p>
            <div class="alert"></div>
            
            <div class="container gift-register">
                    <div class="row">
                        <div class="col-xs-7"><b>{{gettext('Item')}}</b></div>
                        <div class="col-xs-3"><b>{{gettext('Quantity')}}</b></div>
                        <div class="col-xs-2"></div>
                    </div>
                {% for gift in gifts %}
                    <div class="row" id="gift-{{ gift.id }}">
                        <div class="col-xs-8">
                            {% if gift.link is not none %}
                            <a target="_blank" href="{{ gift.link }}">
                            {% endif %}
                            {{ gift.title }}
                            {% if gift.link is not none %}
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 form-inline">
                            <input type="number" class="form-control" name="count" min="0" max="{{remaining_counts[gift.id]}}"> <span class="space-left">/{{ remaining_counts[gift.id] }}</span>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn gift-submit" data-gift-id="{{ gift.id }}">{{ gettext('Register') }}</button>
                        </div>
                    </div>
                    <div id="alert-{{ gift.id }}"" class="alert"></div>
                {% endfor %}
            </div>

        </div>

        <hr class="featurette-divider">

        <script src="static/js/draw_map.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}&callback=initMaps">
        </script>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Eero & Pilvi 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-slider.min.js"></script>
    <script src="static/js/script.js?asd=2"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
